# python cache
*.pyc
*__pycache__*

# jupyter notebook cache
.ipynb*

# data sets
*.pkl
data/*/*.csv

# temporary model files for trees/forests
qforest/model
qforest/train.arff
qforest/test.arff

# pycharm stuff
*.idea*

# results files, plots, etc
results/*


# R junk
*.RDS
*.RData
*.Rhistory
*.Rproj.user
*.Rproj
.Rproj.user

# external code
SVMperf*